:root {
  /* Light mode colors */
  --very-light-gray: hsl(0, 0%, 98%); /* background */
  /* use white for elements */
  --dark-blue: hsl(200, 15%, 8%); /* text */
  --dark-grey: hsl(0, 0%, 52%); /* Input */

  /* Dark mode colors */
  --very-dark-blue: hsl(207, 26%, 17%); /* background */
  --dark-blue: hsl(209, 23%, 22%); /* elements */
  --white: hsl(0, 0%, 100%); /* text */

  /* font weights */
  --light: 300;
  --normal: 600;
  --bold: 800;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: Nunito Sans; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--very-light-gray);
  font-family: Nunito Sans;
}

.main-page {
  display: none;
  z-index: 1;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ===== header styles ===== */
.header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
  padding: 0 3rem 0 3.5rem;
  height: 75px;
  width: 100%;
  box-shadow: 1px 0px 10px hsl(0, 2%, 70%);
}
.header h2 {
  font-weight: var(--bold);
}

.--btn-displayMode {
  background-color: inherit;
  border: none;
  font-size: 1rem;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ===== search bar styles ===== */
.search {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 1px 0px 10px hsl(0, 9%, 87%);
  border-radius: 8px;
  margin-left: 3.5rem;
  width: 380px;
}

.search-input {
  border: none;
  height: 45px;
  flex: 1; /* takes up remaining space */
}

.search-input:focus {
  outline: none;
}

.--btn-search {
  background-color: inherit;
  border: none;
  margin: 0 1rem 0 1rem;
}

/* ===== Filtering selector styles ===== */
.select-filter {
  background-color: white;
  box-shadow: 1px 0px 10px hsl(0, 9%, 87%);
  font-family: Nunito Sans;
  text-align: center;
  border: none;
  border-radius: 5px;
  margin-right: 3.5rem;
  height: 45px;
  width: 150px;
}
.select-filter:focus {
  outline: none;
}

/* ===== Countries container style ===== */
.container-countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 2.5rem 3.5rem;
  gap: 50px;
  justify-items: center;
}

/* ===== Country grid styles ===== */
.country-grid {
  width: 270px;
  height: 340px;
  background-color: white;
  border-radius: 0.5rem;
  transition: transform 0.3s ease;
}

.country-grid:hover {
  transform: translateY(-20px);
}

.country-grid img {
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.country-name {
  margin: 1.4rem 1.1rem;
}

.country-info {
  margin: 1.4rem 1.1rem;
}

.country-info strong {
  margin-right: 0.2rem;
}

/* ===== Detailed page styles ===== */
.detailed-page {
  position: absolute;
  z-index: 2;
}
.--btn-back {
  position: relative;
  left: 3.5rem;
  background-color: white;
  box-shadow: 2px 0px 10px hsl(0, 9%, 87%);
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  padding: 8px 25px;
}

/* ===== Country details styles ===== */
.country-details-container {
  position: relative;
  margin-left: 3.4rem;
  margin-top: 5rem;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 80px;
  align-items: center;
}

.country-details-container .country-img {
  margin: 0;
  width: 370px;
  height: 250px;
}

.country-breif .country-name {
  margin-top: 3rem;
}

.country-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(5, minmax(10px, 1fr));
  row-gap: 5px;
  column-gap: 70px;
}
